Sync {
    Mode FTFW {
        DisableExternalCache Off
        CommitTimeout 1800
    }

    UDP {
        IPv4_address {{ .LocalIP }}
        IPv4_Destination_Address {{ .PeerIP }}
        Port 3780
        Interface {{ .Interface }}
        Checksum on
    }
}

General {
    Systemd on
    HashSize 32768
    HashLimit 131072
    LogFile /var/log/conntrackd.log
    Syslog on
    LockFile /var/lock/conntrack.lock
    UNIX {
        Path /var/run/conntrackd.ctl
    }
    NetlinkBufferSize 2097152

    Filter From Kernelspace {
        Protocol Accept {
            TCP
            UDP
            ICMP
        }
        Address Ignore {
            IPv4_address 127.0.0.1
            IPv4_address 169.254.169.254
            IPv4_address 169.254.169.123
        }
        State Accept {
            ESTABLISHED CLOSED TIME_WAIT CLOSE_WAIT for TCP
        }
    }
}
