Sync {
    Mode FTFW {
        DisableExternalCache Off
        CommitTimeout 1800
    }

    UDP {
        IPv4_address {{ .LocalIP }}
        IPv4_Destination_Address {{ .PeerIP }}
        Port 3780
        Interface {{ .Interface }}
        Checksum on
    }
}

General {
    Systemd on
    HashSize 32768
    HashLimit 131072
    LogFile /var/log/conntrackd.log
    Syslog on
    LockFile /var/lock/conntrack.lock
    UNIX {
        Path /var/run/conntrackd.ctl
    }
    NetlinkBufferSize 2097152
}
